$t-pantalla:pepe;
$vista:pepe;
$pantalla:tablet;
$tamanio: desktop;

@if $t-pantalla == $pantalla{
    h1{font-size:2rem;color:black;}
    h2{font-size:1.9rem;}
}@else if $t-pantalla == $vista {
    h1{font-size:1.4rem; color:blue;}
    h2{font-size:1.3rem;}
}@else if $t-pantalla == $tamanio {
    h1{font-size: 1.7rem; color:green;}
    h2{font-size: 1.6rem;}
} @else {
    h1{font-size:3rem;}
    h2{font-size:2.9rem;}
}