footer{
    @media only screen and (max-width:768px){
        background-color:black;
    }
    background-color:yellow;
    padding:{
        top:5px;
        bottom:10px;
        left:5px;
        right:20px;
    }
    .logo{
        padding:5px;
        h3{
            font-size:2rem;
            @media only screen and (max-width:768px){
                font-size:1.6rem;
            }
        }
    }
    .rrss{
        h3{
            color:violet;
        }
    }
}